# DATABASE_URL="mysql://root@localhost:3306/ttm"
DATABASE_URL="mysql://username:password@localhost:3307/database_name"

# LINE Bot Configuration
LINE_CHANNEL_SECRET=your-line-channel-secret
LINE_CHANNEL_ACCESS_TOKEN=your-line-channel-access-token

# Login Provider Id
AUTH_SECRET="your-auth-secret"
AUTH_TRUST_HOST=true
# AUTH_URL=https://your-domain.com
AUTH_URL=http://localhost:3000

HEALTH_CLIENT_ID=your-health-client-id
HEALTH_CLIENT_SECRET=your-health-client-secret
# HEALTH_REDIRECT_URI=https://your-domain.com/api/auth/healthid
HEALTH_REDIRECT_URI=http://localhost:3000/api/auth/healthid
HEALTH_API=https://moph.id.th

PROVIDER_CLIENT_ID=your-provider-client-id
PROVIDER_CLIENT_SECRET=your-provider-client-secret
# PROVIDER_REDIRECT_URI=https://your-domain.com/login
PROVIDER_REDIRECT_URI=http://localhost:3000/login
PROVIDER_API=https://provider.id.th

# External redirect URL after provider login
# EXTERNAL_REDIRECT_URL=https://your-domain.com
EXTERNAL_REDIRECT_URL=http://localhost:3000/admin

# Webhook configuration
# NEXT_PUBLIC_BOOKING_URL=https://your-domain.com
NEXT_PUBLIC_BOOKING_URL=http://localhost:3000

# Cron API Key
CRON_API_KEY=your-cron-api-key

# Debug mode
DEBUG=TRUE

# Booking URLs
# URL_BOOKING=https://your-domain.com/bookings
URL_BOOKING=http://localhost:3000/bookings

# URL_HISTORY=https://your-domain.com/historys
URL_HISTORY=http://localhost:3000/historys

# URL_FAQ=https://your-domain.com/faq
URL_FAQ=http://localhost:3000/faq
